.login,
.registro {
    display: flex;
    justify-content: center;
}

.cardregistro {
    margin-top: 100px;
    text-align: center;
}

.imgLog,
.imgreg {
    height: 20vh;
    border-radius: 100%;
    width: 10vw;
    display: flex;
    margin: 10px auto;
}

.imgLog .img,
.imgreg .img {
    height: 100%;
}


/* .card-body {
    text-align: left;
} */

.principal {
    width: 70%;
    height: auto;
    margin: auto;
}